
<h1>New Business</h1>
<%= link_to "<i class='fa fa-arrow-left'></i> Back".html_safe, businesses_path %>
<div class='row'>
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <%= render 'form', business: @business %>
  </div>
  <div class='col-md-2'></div>
</div>



