<div class="hero-section has-background height-500px background-is-dark">
    <div class="slider">
        <div class="owl-carousel" data-owl-nav="0" data-owl-dots="1" data-owl-loop="1">
            <% Experience.joins(:experience_occurances).order(:start_date).uniq.take(3).each do |ex|%>

            <div class="slide center">
                <div class="coupon">
                    <div class="wrapper">
                        <div class="image">
                            <!-- <figure class="circle">-59%</figure> -->
                            <div class="bg-transfer"><%= image_tag ex.header_image %></div>
                        </div>
                        <div class="description">
                            <h1><%= ex.title %></h1>
                            <figure class="label label-default">From <%= ex.cost %></figure>
                            <figure class="location"><i class="fa fa-map-marker"></i><%= ex.businesses.first.name %></figure>
                            <hr>
                            <div class="count-down" data-countdown-year="2017" data-countdown-month="6" data-countdown-day="21"></div>
                            <a href="detail.html" class="btn btn-default btn-framed btn-rounded">View Detail</a>
                        </div>
                    </div>
                </div>
                <!--end coupon-->
            </div>
            <% end %>
        </div>
        <!--end owl-carousel-->
    </div>
    <!--end slider-->
    <div class="background-wrapper">
        <div class="bg-transfer opacity-40"><img src="assets/img/background-01.jpg" alt=""></div>
        <div class="background-color background-color-black"></div>
    </div>
    <!--end background-wrapper-->
</div>

