<h1>Editing Experience Occurance</h1>

<%= render 'form', experience_occurance: @experience_occurance %>

<%= link_to 'Show', @experience_occurance %> |
<%= link_to 'Back', experience_occurances_path %>
