<section class="page-title">
    <div class="pull-left">
        <h1><%= @experience.title %></h1>
        <h3>Pickup Location: Your Hotel</h3>
        <div class="rating-passive" data-rating="4">
            <span class="stars"></span>
            <span class="reviews">6</span>
        </div>
    </div>
    <!--end page-title-->
    <!-- <a href="#write-a-review" class="btn btn-primary btn-framed btn-rounded btn-light-frame icon scroll pull-right">
      <i class="fa fa-star"></i>
      Write a review
    </a> -->
</section>

