 <ol class="breadcrumb">
            <section class="center page-title">
                <h1>Sorry For The Inconvenience</h1>
                <h3 class="subtitle">Our Shuttles Run From 8am to 10:45pm Daily</h3>
            </section>
            <!--end page-title-->
            <section>
                <div class="row">
                    <div class="col-md-8 cols-m-8 col-md-offset-2">
                        <div class="step">
                            <div class="circle">
                                <figure>1</figure>
                                <i class="fa fa-car"></i>
                                <div class="circle-bg opacity-30"></div>
                            </div>
                            <div class="box">
                                <h2>Call For Shuttle</h2>
                                <p>Call the shuttle dispatch service and they will arrange to come pick you up
                                </p>
                                 <%= link_to  "tel:1-970-870-7711", class: 'btn btn-default btn-rounded shadow ' do %>
                                  <i class='fa fa-phone'></i> Call For Ride
                                <% end %>
                            </div>
                        </div>
                        <!--end step-->
                        <div class="step">
                            <div class="circle">
                                <figure>2</figure>
                                <i class="fa fa-bus "></i>
                                <div class="circle-bg opacity-60"></div>
                            </div>
                            <div class="box">
                                <h2>Find A City Bus </h2>
                                <p>Steamboat Springs has a totally free bus service that loops from morning 'till night
                                </p>
                                <a href="https://steamboatspringstransit.routematch.com/fixedroute/" class="btn btn-default btn-rounded shadow"><i class='fa fa-globe' ></i> Visit the Website</a>
                            </div>
                        </div>
                        <!--end step-->
                        <div class="step">
                            <div class="circle">
                                <figure>3</figure>
                                <i class="fa fa-taxi"></i>
                                <div class="circle-bg opacity-90"></div>
                            </div>
                            <div class="box">
                                <h2>Call A Taxi</h2>
                                <p>Call the local taxi service
                                </p>
                                 <%= link_to  "tel:1-970-879-8294", class: 'btn btn-default btn-rounded shadow' do %>
                                  <i class='fa fa-phone'></i> Call A Taxi
                                <% end %>
                            </div>
                        </div>
                        <!--end step-->
                    </div>
                    <!--end col-md-8-->
                </div>
                <!--end row-->
            </section>
            <hr>
