
<h1>New Ride Request</h1>
<div class='row'>
  <div class='col-md-10'>
    <%= link_to '< Back', ride_requests_path %>
  </div>
  <div class='col-md-2'>
    <%= link_to  "tel:1-877-302-2628", class: 'btn btn-primary' do %>
    <i class='fa fa-phone'></i> Call For Ride
    <% end %>
  </div>
</div>
<div class='row'>
  <div class='col-md-6'>
    <%= render 'shared/rlc/locations/closest_locations'%>
  </div>
  <div class='col-md-6'>
    <%= render 'transpo_form', ride_request: @ride_request %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
        $('.ride-select').select2();
      });
</script>


