<% content_for :head do %>

<% end %>

 <% location_count = 1 %>
   <% location_placement = ""%>
   <% @ordered_locations.take(3).each do |ol| %>
   <%= puts "['#{ol.name}', #{ol.latitude}, #{ol.longitude}, #{location_count}], "%>
   <% location_placement = location_placement + "['" + URI.encode(ol.name) + "', #{ol.latitude}, #{ol.longitude}, #{location_count}], " %>
   <% location_count = location_count +1 %>
 <% end %>
<% location_placement = location_placement[0...-2] %>
 <br>
  <br>

 <div id="map" style="height: 400px; min-width:400px; width: 100%;" class='center'></div>

  <% content_for :js do %>

  <script type="text/javascript">

    var locations = [
        <%= location_placement.html_safe %>
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: new google.maps.LatLng(<%= cookies[:latitude] %>, <%= cookies[:longitude] %>),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>
  <% end %>
