 <ol class="breadcrumb">
            <section class="center page-title">
                <h1>Front Desk</h1>
                <h3 class="subtitle">Resort Lodging Company</h3>
            </section>
            <!--end page-title-->
            <section>
                <% flash.each do |key, value| %>
                  <%= content_tag :div, value, class: "flash #{key}" %><br/>
                <% end %>
                <div class="row">
                    <div class="col-md-8 cols-m-8 col-md-offset-2">
                        <div class="step">
                            <div class="circle">
                                <figure>1</figure>
                                <i class="fa fa-car"></i>
                                <div class="circle-bg opacity-30"></div>
                            </div>
                            <div class="box">
                                <h2>Domestic Numbers </h2>
                                <form action="/pages/front_desk/send_sms" method="post">
                                   <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                                  <p><input  name="phone_number" class='form-control' placeholder="Enter Phone Number"></p>
                                  <p><button type="submit" class='btn btn-default btn-rounded shadow'>Send Info</button></p>
                                </form>
                                <br> <br>
                                <h2>International  Numbers </h2>
                                <form action="/pages/front_desk/send_sms_intl" method="post">
                                   <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                                  <p><input  name="intl_phone_number" class='form-control' placeholder="Enter Phone Number" value="+"></p>
                                  <p> + Country Code - Area Code - Phone Number </p>
                                  <p><button type="submit" class='btn btn-default btn-rounded shadow'>Send Info</button></p>
                                </form>


                            </div>
                        </div>
                    </div>
                    <!--end col-md-8-->
                </div>
                <!--end row-->
            </section>
            <hr>
        </ol>
