<h1>New Reservation
  <% unless @experience.nil? %>
  for <%=@experience.title %>
  <% end %>

</h1>

<div class='container'>
<%= render 'form', reservation: @reservation %>
<%= link_to 'Back', reservations_path %>
</div>


