<div class="hero-section has-background height-600px">
  <div class="wrapper">
    <div class="inner">
      <div class="container">
        <div class="page-title center">
          <h1>Steamboat Springs Most Amazing Experiences</h1>
          <h2>Carefully Curated To Show You The Best Of Steamboat</h2>
        </div>
        <!--end page-title-->
        <div class="row">
          <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
            <div class="form search-form horizontal">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" name="email" placeholder="What Do You Love To Do??">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="arrow_right"></i></button>
                  </span>
                </div><!-- /input-group -->
              </form>
              <!--end form-->
            </div>
            <!--end search-form-->
          </div>
          <!--end col-md-10-->
        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </div>
    <!--end inner-->
  </div>
  <!--end wrapper-->
  <div class="background-wrapper">
    <div class="bg-transfer opacity-30"><img src="assets/img/background-01.jpg" alt=""></div>
    <div class="background-color background-color-black"></div>
  </div>
  <!--end background-wrapper-->
</div>

