 <section class="shadow">
    <div class="map height-250px" id="map-detail"></div>
    <!--end map-->
    <div class="content">
        <% experience.businesses.each do |business|%>
        <div class="vertical-aligned-elements">

            <div class="element">
                <!-- <img src="assets/img/logo-2.png" alt=""> -->
                <%= business.name %>
            </div>
            <div class="element text-align-right"><a href="#" class="btn btn-primary btn-rounded btn-xs">Claim</a></div>
            <hr>

        </div>
         <address>
            <figure><i class="fa fa-map-marker"></i><%= business.location.address %></figure>
            <% unless business.website.nil? %>
                <figure><i class="fa fa-globe"></i><%= link_to "website", business.website %></figure>
            <% end %>
        </address>
        <% end %>

    </div>
</section>
