<div class="col-md-3 col-sm-3">
    <aside class="sidebar">
        <!-- render sidebar_search -->
        <%= render 'experiences/partials/sidebar_recent_items' %>
        <%= render 'experiences/partials/available_dates' %>
    </aside>

    <!--end sidebar-->
</div>
